/*COLOR*/
// $color-primary:#55c57a ;
// $color-primary-light: #7ed56f;
// $color-primary-dark: #28b485;

$color-primary: #003884;
$color-primary-light: #003884;
$color-primary-dark: #28b485;

$color-secondary: #FF6600;
$color-secondary-dark: #b74900;
$color-secondary-light:#ffb900;

$color-third: #a1c7b6;
$color-third-light: #abd4c2;
$color-third-dark: #7aa994;

$color-brown:#35201f;
$color-brown-light:#a46953;

$color-nyc-blue:#202870;
$color-nyc-blue-light:#1f2b97;






$color-grey-light-1:#f7f7f7;

$color-grey-dark:#777;
$color-white:#fff;
$color-black:#000;

$color-dark-blue:#154D71;
$color-medium-blue: #1C6EA4;
$color-light-blue:#33A1E0;


/*GRID*/
$grid-width:114rem;
$gutter-vertical:8rem;
$gutter-horizontal: 6rem;


$default-font-size: 1.6rem;